.aboutme {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    gap:10px;
    background: #EAF2FD;
    

}

.aboutme__conteiner {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 16px;
}

.aboutme__conteiner__title {

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #464646;
    align-self: flex-start;
}

.aboutme__conteiner__info {

    width: 751px;    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #464646;  
}

.aboutme__conteiner__img {
    align-self: flex-start;
}

@media screen and (max-width: 480px) {
    .aboutme{
        
        width: 100%;
        padding: 16px 0;
        
    }
    
    .aboutme__conteiner {
        justify-content: flex-start;
        gap: 16px;
        width: 328px;
        
    }

    .aboutme__conteiner__title {

        width: 94px;
        height: 26px;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        
    }

    .aboutme__conteiner__info {

        width: 328px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

    }
}

