experiencia {

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 1136px;


    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
    border:black solid 1px;
}

.experiencia__title {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    /* Preto/100% */

    color: #464646;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.experiencia__items {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 64px;
    width: 1136px;

}

.experiencia__items__item {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 16px;
    width: 1136px;
    height: 406;
}

.experiencia__items__item__img {
    width: 752px;
    height: 406px;
    border-radius: 0px;
}

.experiencia__items__item__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
    width: 368px;
    height: 112px;
}

.experiencia__items__item__info__title {

    width: 368px;
    height: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #464646;


}

.experiencia__items__item__info__desc {

    width: 368px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.experiencia__items__item__info__buttons {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 368px;
    height: 51px;
}

.experiencia__items__item__info__buttons__btn-rep {

    width: 116px;
    height: 51px;
    border: 1px solid #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #2A7AE4;
}

.experiencia__items__item__info__buttons__btn-demo {

    width: 105px;
    height: 51px;
    padding: 16px;
    border: 1px solid #2A7AE4;
    background: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;

}



