.experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 1136px;
}

.experiencia__title {

    width: 361px;
    height: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #464646;
}

.experiencia__items {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    width: 1136px;
    height: 1816px; 
}

.experiencia__items__item {

    display: flex;
    align-items: center;
    gap: 16px;
    width: 1136px;
    height: 406px;
}

.experiencia__items__item__img {

    width: 752px;
    height: 406px;
}

.experiencia__items__item__info {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 368px;
    
}

.experiencia__items__item__info__title {

    width: 368px;
    height: 26px;
    font-style: normal;
    font-size: 22px;
    color: #464646;
}

.experiencia__items__item__info__desc {

    width: 368px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;

}

.experiencia__items__item__info__buttons {

    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 368px;
    height: 51px; 
}

.experiencia__items__item__info__buttons__btn-rep {

    width: 116px;
    height: 51px;
    border: 1px solid #2A7AE4;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #2A7AE4;
}

.experiencia__items__item__info__buttons__btn-demo {

    width: 105px;
    height: 51px;
    background: #2A7AE4;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}



