.hero {
    display: flex;
    align-items: center;
    padding: 0;
    width: 1136px;
    height: 368px;
}

.hero__top {
    display: flex;
    order: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 751px; 
}

.hero__top__soy {
    width: 751px;
    height: 122px;
    font-weight: 700;
    font-size: 52px;
    color: #464646;  
}

.hero__top__soy-formacion {
    width: 751px;
    height: 52px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
}

.hero__top__links {
    display: flex;
    padding: 0;
    gap: 32px;
    
    height: 24px;
}

.hero__top__links__link {

    display: flex;
    flex-direction: row;
    align-items: center;
        
}

.hero__top__links__link img {
    
    width: 18px;
    height: 18px;
   
}

.hero__top__links__link a {
    color:#464646;
    
}

.hero__img {
    order: 1;
    width: 368px;
    height: 368px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 70%;
    
  
}

@media screen and (max-width: 480px) {
    
    .hero {
        flex-direction: column;
        padding: 16px 0 0 0;
        gap: 16px;
        width: 360px;
        height: 278px;
        
    }

    .hero__img {

        width: 98px;
        height: 98px;
        order: 0;
        

    }

    .hero__top {

        order: 1;
        gap: 16px;
        width: 328px;
        height: 148px;
    
    }

    .hero__top__soy {

        width: 328px;
        height: 52px;
        font-size: 22px;
        
    }

    .hero__top__soy-formacion {

        width: 328px;
        height: 48px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        
    }

    .hero__top__links {

        gap: 8px;
        width: 318px;
        height: 16px;        
    }

    .hero__top__links__link {
        font-weight: 600;
        font-size: 13px;
        gap: 0;
    }

}