.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    
    width: 1136px;
    height: 368px;
}

.hero__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 751px; 
}

.hero__top__soy {
    width: 751px;
    height: 122px;
    font-weight: 700;
    font-size: 52px;
    color: #464646;  
}

.hero__top__soy-formacion {
    width: 751px;
    height: 52px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
}

.hero__top__links {
    display: flex;
    padding: 0;
    gap: 32px;
    
    height: 24px;
}

.hero__top__links__link {

    display: flex;
    flex-direction: row;
    align-items: center;
        
}

.hero__top__links__link img {
    
    width: 18px;
    height: 18px;
   
}

.hero__top__links__link a {
    color:#464646;
    
}

.hero__img {
    width: 368px;
    height: 368px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 70%;
  
}

@media screen and (max-width: 480px) {
    
    .hero {
        
    }

    .hero__img {
        
    }

    .hero__top {
        
    }

    .hero__top__soy {
        
        
    }

    .hero__top__soy-formacion {
        
    }

    .hero__top__links {

        
    }

}