.skillsHobbies {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 88px;
    
}

.skillsHobbies__skills, .skillsHobbies__hobbies {
    width: 1136px;
    height: 244px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.skillsHobbies__skills__title, .skillsHobbies__hobbies__title {
    width: 82px;
    height: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #464646;
    
}

.skillsHobbies__skills__container, .skillHobbies__hobbies__container {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 1136px;
    height: 174px;
}

.skillsHobbies__skills__container__skill, .skillHobbies__hobbies__container__hobbie {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content:center; 
    width: 176px;
    height: 174px;
    align-items: center;
    background-color: #ffffff;
    
}

.skills-icons, .hobbies-icons {

    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    color: #2A7AE4;
}

.skillsHobbies__skills__container__skill__txt{

    height: 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #464646;   
}

.skillsHobbies__formacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px 0;
    gap: 32px;
    width: 100%;
    
    background: #EAF2FD;
}

.skillsHobbies__formacion__title {

    width: 339px;
    height: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #464646;  
}

.skillHobbies__formacion__container {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 1136px;
    height: 347px;

}

.skillHobbies__formacion__container__acad {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 368px;
    height: 347px;   
}

.skillHobbies__formacion__container__acad__fig {

    display: flex;
    justify-content: center;
    align-content: center;
    width: 368px;
    height: 286px;
    background: #ffffff;
}

.skillHobbies__formacion__container__acad__esp {
 
    height: 26px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #464646;

}
.skillHobbies__formacion__container__acad__anno{

    height: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 16;
    color:#464646;
}

@media screen and (max-width: 480px) {

    .skillsHobbies {
        width: 100%;
        gap: 0;
    }

    .skillsHobbies__skills, .skillsHobbies__hobbies {

        padding: 16px 0;
        gap: 32px;

        width: 360px;
        height: 484px;
    }

    .skillsHobbies__skills__title, .skillsHobbies__hobbies__title {

        width: 57px;
        height: 26px;
        font-size: 22px;
    }

    .skillsHobbies__skills__container, .skillHobbies__hobbies__container {
        width: 360px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px 16px;
    }

    .skillsHobbies__skills__container__skill, .skillHobbies__hobbies__container__hobbie {

        width: 156px;
        height: 118px;
    }
    .skillsHobbies__formacion {

        width: 100%;
        justify-content: flex-start;
        padding: 32px 0;
        gap: 32px;
    }

    .skillsHobbies__formacion__title {

        width: 233px;
        height: 26px;
        font-weight: 700;
        font-size: 22px;

    }

    .skillHobbies__formacion__container {

        flex-direction: column;
        gap: 16px;
        width: 296px;
        height: 539px;
        
    }

    .skillHobbies__formacion__container__acad {

        gap: 8px;
        width: 296px;
        height: 169px;
    }

    .skillHobbies__formacion__container__acad__fig {

        width: 296px;
        height: 118px;
    }

    .skillHobbies__formacion__container__acad__esp {

        height: 19px;
        font-weight: 700;
        font-size: 16px;
    }

    .skillHobbies__formacion__container__acad__anno {

        height: 16px;
        font-weight: 500;
        font-size: 14;
    }

    


}