.top {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    gap: 411px;
    height: 88px;
    flex: none;
    flex-grow: 0;
}

.top__logo {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 24px;

    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.top__logo__img {

    width: 24px;
    height: 24px;
    background: #FFFFFF;
/* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.top__logo__txt {
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
/* identical to box height */
/* Preto/100% */

    color: #464646;

/* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.top__navbar {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    height: 19px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.top__navbar__li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Preto/100% */

    color: #464646;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;   
}

.mail {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}


@media screen and (max-width: 480px) {
    
    .top {
        display: flex;
        flex-direction: row;
        
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        gap: 10px;
    }

    .top__navbar__li:not(.mail) {
        display: none;
    }

    .top__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap:8px;
        width: 134px;
        height: 24px;

    }

    .top__navbar__li:last-child {
        width: 140px;
        height: 16px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        /* Preto/100% */

        color: #464646;
    }

    

}