.top {
    display: flex;
    width: 1136px;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    flex:none;
}

.top__logo {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 8px;
    height: 24px;
}

.top__logo__img {
    width: 24px;
    height: 24px;
}

.top__logo__txt {
    width: 130px;
    height: 19px;
}

.top__navbar {
    width: 720px;
    height: 19px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.top__navbar__li {
    height: 19px;
    font-style: normal;
    
    font-size: 16px;
    line-height: 19px;
    color: #464646;
     
}

.mail:hover {
    font-weight: bold; 
}


@media screen and (max-width: 480px) {
    
    .top {
        
    }

    .top__navbar__li:not(.mail) {
        
    }

    .top__logo {
        

    }

    .top__navbar__li:last-child {
        
    }

    

}